.t-d{
    text-decoration: none;
    color: black;
}

img{
    margin-bottom: -10;
}

.container-posts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.card-post{
    border-radius: 7px;
    /* box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(189, 189, 189); */
    box-shadow: 0.5px 0.5px 20px rgb(212, 210, 210) inset;
    padding: 10px;
    margin: 10px 10px;
    background-color: aliceblue;
    width: 55%;
}

.post-comp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}